body{ background-image: linear-gradient(to right top, #68f77b, #72e881, #a9e872, #d2e872, #e8d872, #e8bb72, #e8a172, #e88d72, #e87272, #e8727c, #e872d2, #af72e8);
        
}

p{
        font-size:20px;
}

.px-nav {
        padding-left: 16px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
        text-transform: none !important;
}